body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: rgb(22, 22, 22);
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 4rem;
  color: #fff;
  margin: 0;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8rem 0;
}

h2 {
  width: 300px;
  color: #fff;
  font-size: 8rem;
  margin: 0 auto;
}

button {
  text-align: center;
  cursor: pointer;
  transition: all 0.05s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.minus,
.plus {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(180, 180, 180);
  color: #fff;
  box-shadow: 2px 2px 30px #000000;
  border: 1px solid #fff;
  font-size: 4rem;
}

.reset {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #0088ff;
  color: #fff;
  box-shadow: 2px 2px 30px #000000;
  border: 1px solid #fff;
  font-size: 4rem;
  margin: 0 auto;
}

button:active {
  transform: translateY(2px);
  box-shadow: none;
}

@media screen and (max-width: 586px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    width: 180px;
    font-size: 6rem;
  }

  .counter {
    margin: 8rem 0 4rem 0;
  }

  .minus {
    width: 70px;
    height: 70px;
    font-size: 3rem;
  }

  .plus {
    width: 70px;
    height: 70px;
    font-size: 3rem;
  }

  .reset {
    width: 70px;
    height: 70px;
    font-size: 3rem;
    padding: 0;
  }
}
